.button3{
   position: relative; 
  border: none;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  text-align: center;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  border-radius: 8px;
  background-color:cadetblue;
   color:cadetblue;
   border: 2px solid #05060a;
   font-style: oblique;
   font-size: 20px;

}

.button:after {
  content: "";
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-left: -20px!important;
  margin-top: -120%;
  opacity: 0;
  transition: all 10s
}

.button:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
 
}
body{
    background-image:url(../images/peter-boccia-RCs-VtyUVd8-unsplash.jpg)
}
h1{
    font-style: italic;
    text-align: center;
    justify-content: center;
    text-shadow:cadetblue;
    text-decoration-style: solid;
    font-size: 80px;
    }