.h1{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 50px;
  font-style: oblique;
  font: oblique
  ;
}
.header{
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 
}
 .image1{
    border-radius: 8px;
    text-align: center;
} 
body{
    background-image: url(../images/joanna-kosinska-L0hTzbOXaXY-unsplash.jpg);
    background-repeat: no-repeat;
}
 .button{
    overflow: hidden; 
    float: left;
    display: block;
    background-color: lavender;
    border-color:lightseagreen;
    font-size: 15px;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
  } 
  .footer {
    padding: 20px;
    text-align: center; 
   
  }